/* Global styling is done here */

/* Fonts */
/*
font-family: 'Lato', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Princess Sofia', cursive;
*/

/* Apply font to all elements */
* {
  font-family: 'EB Garamond', serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  background-color: #334;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-family: 'Princess Sofia', cursive;
  font-size: 32px;
}

p {
  font-family: 'Lato', sans-serif;
}

.description {
  font-size: 18px;
}

a {
  cursor: pointer;
}

button {
  font-family: 'Lato', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#title {}

#screen {
  box-sizing: border-box;
  height: 500px;
  width: 800px;
  padding: 100px;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('../images/scroll.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#author {
  padding: 0.8em 0 0.4em;
}

#nextButton {
  font-size: 20px;
  padding: 0.4em 0.8em;
  color: #fff;
  background: #1a2;
  border-radius: 4px;
}

.options-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 20px;
}

.option {
  display: block;
  padding: 0 1em;
  user-select: none;
}

.page-number {
  font-family: 'Lato', san-serif;
  font-size: 16px;
  color: #111;
}
